*,
html,
body{
    margin: 0px;
    padding: 0px;
}

.nav-home{
    border:solid 2px #000000;
    background-image:linear-gradient(#4ddde7,#db70c9) ;
    border-radius: 15px;
}

.nav-guru{
    border:solid 2px #000000;
    background-image:linear-gradient(#4ddde7,#db70c9) ;
    border-radius: 15px;
}

.nav-gallery{
    border:solid 2px #000000;
    background-image:linear-gradient(#4ddde7,#db70c9) ;
    border-radius: 15px;
}

.nav-other{
    border:solid 2px #000000;
    background-image:linear-gradient(#4ddde7,#db70c9) ;
    border-radius: 15px;
}

.ig-develop{
    text-decoration: none;
    color: aqua;
    background-color: #443b3b;
    width: 200px;
    position: relative;
    left: 80px;
    border-radius: 20px;
}

@media (max-width : 980px ){
    .kabeh{
        flex-direction:column;
        gap: 100px;
        justify-content: center;
        align-items: center;
    }

    .card-instagram{

        width: 20rem;
    }

    .card-tiktok{
        width: 20rem;
    }

    .card-facebook{
        width: 15rem;
    }

    .card-youtube{
        width: 15rem;
    }
}